select {
  font-size: 24px;
  line-height: 30px;
}

select + select {
  margin-left: 20px;
}

.triads-explorer__triads {
  margin-top: 40px;
}

.triad-canvas {
  display: none;
  width: 280px;
  height: 160px;
  padding: 30px;

  border: 10px solid #f9f9f9;
}

.triad-canvas--active {
  display: block;
}

.triad-canvas + .triad-canvas {
  margin-top: 50px;
}
