@import "reset";
@import "colors";

select {
  display: block;

  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  line-height: 30px;
}

select + .header-menu__select-label {
  margin-top: 10px;
}

.triads-explorer-page {
  padding: 0 0 20px;

  &__triads {
    margin: 20px auto 0;
  }
}

.triads {
  display: flex;
  flex-wrap: wrap;
  width: 640px;

  &__triad {
    margin: 16px 10px;
  }
}

.triad {
  &__canvas {
    display: none;
    width: 300px;
    height: 160px;
    margin-top: -14px;

    &--active {
      display: block;
    }
  }

  &__header {
    /* to match canvas padding */
    margin-left: 14px;

    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 18px;
  }
}

.header {
  &__menu {
    padding: 0 5px;
    margin-top: 30px;
  }

  &__mobile-nav-toggle {
    display: none;
  }
}

.header-menu {
  width: 600px;
  margin-left: auto;
  margin-right: auto;

  &__select-label {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    line-height: 14px;
    color: $color-grey;
  }
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;

  background-color: $color-green;

  list-style: none;

  &__items {
    display: flex;
  }

  &__item + &__item {
    margin-left: 20px;
  }

  &__item,
  &__item a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto Mono', monospace;
    color: $color-black;

    svg {
      margin-left: 5px;
    }
  }

  &__item {
    a {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__mobile-nav-toggle {
    display: none;
  }
}

.github-icon {
  &--xs {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 655px) {
  .header {
    &__menu {
      padding: 0 24px;
    }
  }

  .header-menu {
    width: 100%;

    select {
      width: 100%;
    }
  }

  .triads {
    width: 100%;
    flex-wrap: no-wrap;
  }

  .header-nav {
    flex-direction: column;

    &__mobile-nav-toggle {
      display: flex;
      justify-content: flex-end;
      width: 100%;

    }

    &__items {
      display: none;

      &--active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    &__item {
      width: 100%;

      font-size: 24px;
      line-height: 36px;

      & + & {
        margin-left: 0;
        margin-top: 8px;
      }
    }
  }
}
