@import "colors";

body,
ul {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

select {
  display: block;

  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  line-height: 30px;
}

select + .header-menu__select-label {
  margin-top: 10px;
}

.triads-explorer-page {
  padding: 0 0 20px;

  &__triads {
    margin: 20px auto 0;
  }
}

.triads {
  display: flex;
  flex-wrap: wrap;
  width: 640px;

  &__triad {
    margin: 16px 10px;
  }
}

.triad {
  &__canvas {
    display: none;
    width: 300px;
    height: 160px;
    margin-top: -14px;

    &--active {
      display: block;
    }
  }
}

.triad__header {
  /* to match canvas padding */
  margin-left: 14px;

  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 18px;
}

.header__menu {
  padding: 0 5px;
  margin-top: 30px;
}

.header-menu {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu__select-label {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  line-height: 14px;
  color: $color-grey;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;

  background-color: $color-green;

  list-style: none;

  &__item + &__item {
    margin-left: 20px;
  }

  &__item,
  &__item a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto Mono', monospace;
    color: $color-black;

    svg {
      margin-left: 5px;
    }
  }
}

.github-icon {
  &--xs {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 655px) {
  .header__menu {
    padding: 0 24px;
  }

  .header-menu {
    width: 100%;
  }

  .triads {
    width: 100%;
    flex-wrap: no-wrap;
  }
}
