body,
ul {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

select {
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  line-height: 30px;
}

select + select {
  margin-left: 20px;
}

.triads-explorer-page {
  padding: 0 0 20px;
}

.triads-explorer-page__triads {
  margin: 40px auto 0;
}

.triads {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.triad__canvas {
  display: none;
  width: 280px;
  height: 160px;
}

.triad__canvas--active {
  display: block;
}

.triad {
  margin: 16px 10px;
}

.triad__header {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 18px;
}

.header__menu {
  padding: 0 10px;
  margin-top: 30px;
}

.header-menu {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;

  background-color: #B2DBBF;

  list-style: none;
}

.header-nav__item,
.header-nav__item a {
  font-family: 'Roboto Mono', monospace;
  color: #212d33;
}

.header-nav__item + .header-nav__item {
  margin-left: 20px;
}
