body,
ul {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

select {
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  line-height: 30px;
}

select + select {
  margin-left: 20px;
}

.triads-explorer {
  padding: 0 0 20px;
}

.triads-explorer__triads {
  padding: 0 20px;
  margin-top: 40px;
}

.triad-canvas {
  display: none;
  width: 280px;
  height: 160px;
}

.triad-canvas--active {
  display: block;
}

.triad-canvas + .triad-header {
  margin-top: 25px;
}

.triad-header {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 18px;
}

.header__menu {
  padding: 0 20px;
  margin-top: 20px;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;

  background-color: #B2DBBF;

  list-style: none;
}

.header-nav__item,
.header-nav__item a {
  font-family: 'Roboto Mono', monospace;
  color: #212d33;
}

.header-nav__item + .header-nav__item {
  margin-left: 20px;
}
